
// ***************
// COLOR VARIABLES
// ***************

$primary-color: #4264E3;
$secondary-color: #5377F2;
$white: #FFFFFF;
$light-grey: #F8F8F9;
$grey: #DDDDE1;
$darker-grey: #93939F;
$green-success: #70BFAA;
$black: #3A3A41;
$darker-black: #2A2A30;

// ***************
// FONTS VARIABLES
// *************** 

$font-stack: ('Roboto', sans-serif );
$logo-font: ('Russo One', sans-serif);

// *******************
// FONT SIZE VARIABLES
// ******************* 

$h1: 40px;
$h2: 23px;
$sm: 10px;
$md: 12px;
$lg: 14px;



// **********************
// FONT WEIGHTS VARIABLES
// **********************

$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$black-weight: 900;
